Babel==1.3
Cheetah==2.4.4
Flask==0.10.1
Flask-API==0.6.3
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.10
Werkzeug==0.10.4
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.20
celery==3.1.18
certifi==2015.04.28
chardet==2.0.1
circleclient==0.1.6
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
ecdsa==0.13
flower==0.8.2
futures==3.0.3
html5lib==0.999
itsdangerous==0.24
jsonpatch==1.3
jsonpointer==1.0
kombu==3.0.26
meld3==1.0.2
oauth==1.0.1
paramiko==1.15.2
prettytable==0.7.2
pycrypto==2.6.1
pyserial==2.6
python-dateutil==2.4.2
pytnyu==0.0.4
pytz==2015.4
requests==2.2.1
sendgrid==1.4.0
six==1.5.2
smtpapi==0.2.0
spur==0.3.14
stripe==1.27.1
supervisor==3.2.0
tornado==4.2
urllib3==1.7.1
wheel==0.24.0
wsgiref==0.1.2
